<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/Calcstyle.css">
</head>
<body>
  <div class="innerArea">
    <div class="whiteSpace">
    </br>
    </br>
      Grade Calculator
      <br>
    </br>
      <div class="tableShading">
        <div>Activities</br></br></div>
        <div class="smallDarkFont">Give grades to the numeric activities: <br></br></div>
        <table>
        <tbody>
          <tr>
            <th>Name</th>
            <th>Short Name</th>
            <th>Weight</th>
            <th>Grade</th> 
            <th>Percent</th>
          </tr>
          <tr>
            <td>Name</td>
            <td>Short Name</td>
            <td>Weight</td>
            <td>Grade</td> 
            <td>Percent</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>Short Name</td>
            <td>Weight</td>
            <td>Grade</td> 
            <td>Percent</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>Short Name</td>
            <td>Weight</td>
            <td>Grade</td> 
            <td>Percent</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>Short Name</td>
            <td>Weight</td>
            <td>Grade</td> 
            <td>Percent</td>
          </tr>
        </tbody>
        </table>
        Result
      </div>
    </div>
    </br>
  </div>
</body>
